/*========================================

	Colour Styles
	_____________

========================================*/

/*========================================

	Normal Colours

========================================*/

$white-default:	#fff;
$black-default:	#000;

/*========================================

	Main Colours 

========================================*/

$light-grey:	#edeff2;
$dark-grey: 	#b9b9b9;
